APP_NAME="Message Service"
APP_ENV=local
APP_KEY=base64:NYvAuZg8O1m7Z6euzJY0e5A99PWRBVdIoePodwtSd6U=
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Database (PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=message_service
DB_USERNAME=sail
DB_PASSWORD=password

# Очереди и Кэш
QUEUE_CONNECTION=redis
CACHE_STORE=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379

# Хранилище
FILESYSTEM_DISK=local

# Прочее
BCRYPT_ROUNDS=12

# Настройки Apache Kafka
KAFKA_BROKERS=kafka:9092

# Настройки ClickHouse Analytics
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=secret_password
